$width: 70px;

.theme-switch {
  width: $width;
  padding: 7px 5px;
  background-color: yellow;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;

  [type="radio"] {
    cursor: pointer;
    width: 15px;
    height: 15px;
    opacity: 0;
    z-index: 1;

    &:first-of-type:checked ~ .toggle {
      transform: translateX(0);
    }

    &:nth-of-type(2):checked ~ .toggle {
      transform: translateX(calc(((($width - 10px) - (15px * 3)) / 2) + 15px));
      // ($container-width-paddingleft&right) - (widthRadio * numRadio / numGapRadio) + widthRadio 
    }

    &:last-of-type:checked ~ .toggle {
      transform: translateX(45px);
    }
  }

  .toggle {
    position: absolute;
    left: 5px;
    top: 7px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
    transition: 0.2s;
    z-index: 1;
  }
}