$theme1-main-bg: hsl(222, 26%, 31%);
$theme1-toggle-bg: hsl(223, 31%, 20%);
$theme1-screen-bg: hsl(224, 36%, 15%);
$theme1-key-second-bg: hsl(225, 21%, 49%);
$theme1-key-second-shadow: hsl(224, 28%, 35%);
$theme1-key-primary-bg: hsl(6, 63%, 50%);
$theme1-key-primary-shadow: hsl(6, 70%, 34%);
$theme1-key-bg: hsl(30, 25%, 89%);
$theme1-key-shadow: hsl(28, 16%, 65%);
$theme1-keypad-bg: hsl(223, 31%, 20%);
$theme1-text-btn: hsl(221, 14%, 31%);
$theme1-text: hsl(0, 0%, 100%);

$theme2-main-bg: hsl(0, 0%, 90%);
$theme2-toggle-bg: hsl(0, 5%, 81%);
$theme2-screen-bg: hsl(0, 0%, 93%);
$theme2-key-second-bg: sl(185, 42%, 37%);
$theme2-key-second-shadow: hsl(185, 58%, 25%);
$theme2-key-primary-bg: hsl(25, 98%, 40%);
$theme2-key-primary-shadow: hsl(25, 99%, 27%);
$theme2-key-bg: hsl(45, 7%, 89%);
$theme2-key-shadow: hsl(35, 11%, 61%);
$theme2-keypad-bg: hsl(0, 5%, 81%);
$theme2-text-btn: hsl(60, 10%, 19%);
$theme2-text: hsl(0, 0%, 100%);

$theme3-main-bg: hsl(268, 75%, 9%);
$theme3-toggle-bg: hsl(268, 71%, 12%);
$theme3-screen-bg: hsl(268, 71%, 12%);
$theme3-key-second-bg: hsl(281, 89%, 26%);
$theme3-key-second-shadow: hsl(285, 91%, 52%);
$theme3-key-primary-bg: hsl(176, 100%, 44%);
$theme3-key-primary-shadow: hsl(177, 92%, 70%);
$theme3-key-bg: hsl(268, 47%, 21%);
$theme3-key-shadow: hsl(290, 70%, 36%);
$theme3-keypad-bg: hsl(268, 71%, 12%);
$theme3-text-btn: hsl(52, 100%, 62%);
$theme3-text: hsl(198, 20%, 13%);